.cc_contact_item {
    font-size: 13px;
    display: flex;
    padding: 10px 18px;
    align-items: center;
    background-color: #2e3238;
    border-bottom: 1px solid #292c33;
    cursor: pointer;
    transition: background-color 0.5s;
}

.cc_contact_item:hover {
    background-color: #3f4349;
}

.cc_contact_name {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}