/*IM*/

#im {
    position: fixed;
    right: 100px;
    top: 20px;
    z-index: 999;
    --main-color: #f5f5f5;
    --secondary-color: #fff;
    --text-color: black;
    --border: 1px solid #d9d9d9;
    --item-hover-color: #aaa;
    --icon-hover-color: #000;
}


/*主面板*/

#im-pane {
    width: 300px;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--main-color);
    border-radius: 10px 10px 0 0;
    transform: scaleY(0);
    transform-origin: 95% 0%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1998;
}

.im-pane-head {
    padding-top: 2em;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.im-pane-head.dragging {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.im-tab>div[role='tablist'] .ant-tabs-tab {
    margin-right: 0;
    width: 100px;
    text-align: center;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

.pane-fadein {
    animation: fadein .2s forwards ease-in-out;
}

@keyframes fadeout {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(0);
    }
}

.pane-fadeout {
    animation: fadeout .2s both ease-in-out;
}


/*联系人列表*/

#contact-list,
#conversation-list {
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (min-height: 880px) {
    #contact-list,
    #conversation-list {
        height: 650px
    }
}

#im ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

#im ::-webkit-scrollbar-track {
    background-color: var(--main-color);
}

#im ::-webkit-scrollbar-thumb {
    width: 5px;
    height: 20px;
    border-radius: 100px;
    background-color: #aaa;
}


/*聊天窗口*/

.im-chat-window-wrapper {
    position: absolute;
    top: 100px;
    right: 350px;
    width: 550px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--main-color);
    transform-origin: 50% 50%;
    transform: scale(0);
    overflow: hidden;
}

@keyframes slideout {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.im-chat-window-wrapper.slideout {
    animation: slideout .2s forwards ease-out;
}

@keyframes slidein {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.im-chat-window-wrapper.slidein {
    animation: slidein .2s forwards ease-in;
}

.im-chat-window-header {
    padding-left: 1.5em;
    height: 55px;
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.im-chat-window-header.dragging {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.im-chat-window-closer,
.im-chat-window-option {
    display: inline-block;
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.im-chat-window-option {
    right: 55px;
}

.im-chat-window-closer>.anticon,
.im-chat-window-option>.anticon {
    font-size: 15px;
    transition: all 0.2s;
}

.im-chat-window-closer:hover>.anticon,
.im-chat-window-option:hover>.anticon {
    transform: scale(1.5);
    color: var(--icon-hover-color);
    /* color: blue; */
}

.im-chat-window {
    overflow-y: auto;
    flex: 0 0 380px;
    display: flex;
    flex-direction: column;
    padding: 25px 25px 5px;
    box-sizing: border-box;
}

.im-chat-window .im-avatar {
    margin-right: 0;
}

.im-chat-window-bar {
    flex: 0 0 35px;
    border-top: var(--border);
    display: flex;
}

.im-chat-window-baritem {
    width: 40px;
    height: 36px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s;
}

.im-chat-window-baritem:hover {
    color: var(--icon-hover-color);
    /* background-color: #e5e5e5; */
}

.im-chat-window-input {
    flex: 0 0 100px;
    padding: 3px 8px;
    outline: none;
    font-size: 1.3em;
    overflow: auto;
    border: none;
    outline: none;
    resize: none;
    background-color: inherit;
}

.im-chat-window-send {
    text-align: right;
    padding: 0 12px 12px;
}

.im-chat-option {
    position: absolute;
    top: 55px;
    right: 0;
    width: 200px;
    height: 555px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    overflow: auto;
    transition: transform .2s;
    transform: translateX(100%);
}

.im-chat-option.slidein {
    transform: translateX(0);
}

.im-chat-option-add {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 18px;
    border-bottom: var(--border);
}

.im-chat-option-addbutton {
    cursor: pointer;
    font-size: 40px;
    margin-right: 12px;
    color: #aaa;
    transition: all .2s;
}

.im-chat-option-addbutton:hover {
    color: var(--icon-hover-color);
}

.im-chat-addpeople-left,
.im-chat-addpeople-right {
    width: 50%;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.im-chat-addpeople-left {
    border-right: var(--border);
}

.im-chat-addpeople .ant-modal-body {
    display: flex;
    padding: 0;
}

.im-chat-addpeople-search {
    margin: 0 auto 10px;
    display: block;
    background-color: var(--secondary-color);
}

.im-chat-addpeople-input {
    height: 30px;
    border-radius: 30px;
    padding-left: 12px;
}

.im-chat-addpeople-righthead {
    flex: 0 0 30px;
    margin-bottom: 10px;
}

.im-chat-addpeople-contactList,
.im-chat-addpeople-selectedList {
    flex-grow: 1;
    overflow: auto;
}

.im-chat-addpeople-contact,
.im-chat-addpeople-selected {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    padding-right: 18px;
}

.im-chat-addpeople-selected {
    cursor: initial;
}

.im-chat-addpeople-contact:hover {
    background-color: var(--item-hover-color);
}

.im-chat-addpeople-buttons {
    flex: 0 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.im-chat-addpeople-selected .im-contact-item,
.im-chat-addpeople-selected .im-contact-item:hover {
    background-color: initial;
    cursor: initial;
}

#im ::-webkit-scrollbar,
.im-chat-addpeople ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

#im ::-webkit-scrollbar-track,
.im-chat-addpeople ::-webkit-scrollbar-track {
    background-color: var(--main-color);
}

#im ::-webkit-scrollbar-thumb,
.im-chat-addpeople ::-webkit-scrollbar-thumb {
    width: 5px;
    height: 20px;
    border-radius: 100px;
    background-color: #aaa;
}

.im-emoji-selector {
    width: 40px;
    height: 36px;
    position: relative;
}

.im-emoji-selector-pane {
    width: 365px;
    height: 200px;
    padding: 10px;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-radius: 10px;
    overflow: auto;
    background-color: var(--secondary-color);
    position: absolute;
    top: -210px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform-origin: 20px 100%;
    animation: scaledown .2s forwards ease-out;
    cursor: pointer;
}

@keyframes scaleup {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaledown {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.im-emoji-selector-pane.scaleup {
    animation: scaleup .2s forwards ease-in;
}

.im-emoji-selector-pane::after {
    content: '';
    border: 10px solid transparent;
    border-top-color: #fff;
    position: absolute;
    bottom: -30px;
    left: 20px;
}

.im-emoji-item {
    width: 30px;
    height: 30px;
    box-sizing: content-box;
    padding: 1px 2px;
    border-radius: 2px;
    transition: all .2s;
}

.im-emoji-item:hover {
    background-color: var(--item-hover-color);
}

.im-create-group {
    padding: 1em 0;
    text-align: center;
    background-color: var(--main-color);
}